<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="task-container">
      <h2>My Tasker</h2>
    </div>
    <form action="submit" method="post">
      <input type="text" name = "task">
      <input type="submit" value="Add">
    </form>
  </body>
</html>
